/*  ==========================================================================
    =Back to top
    ========================================================================== */

#back-to-top {
  position: fixed;
  z-index: 1010;
  right: -40px;
  bottom: 14px;
  width: 35px;
  width: 2.33333333em;
  height: 35px;
  height: 2.33333333em;
  border-radius: 50%;
  background-color: $accent-1-color;
  color: #ffffff;
  line-height: 32px;
  line-height: 2.13333333;
  text-align: center;
  cursor: pointer;
  opacity: 0.95;
  transition-property: background-color, right;
  transition-duration: 0.4s;
  transition-timing-function: ease;

  i{
    transition: color 0.4s ease 0s;
  }

  &:hover{
    background-color: $accent-2-color;
    i{
      color:#fff;
    }
  }

  &.visible{
    right: 14px;
    right: 0.93333333em;
  }

  &.gone{
    right: -40px;
    right: -2.66666666em;
  }
}
