/* ==========================================================================
   =Icons
   ========================================================================== */

.ewf-icon {
	display: inline-block;
	border-style: solid;
	border-width: 0px;
	font-size: 36px;
}

