/* ==========================================================================
   =Menu
   ========================================================================== */

#header {

	line-height: 100px;

	.portum-menu {
		list-style: none;

		li {
			display: inline-block;
			margin-right: 20px;
		}

		.sub-menu {
			display: none;
		}
	}

	&.portum-sidebar {
		position: fixed;
		left: 0;
		width: 15%;
		height: 100vh;
		z-index: 999;

		& + #wrap {
			max-width: 85%;
			position: relative;
			left: 15%;
		}

		nav ul li {
			display: block;
			width: 100%;
			text-align: center;
			margin: 20px 0 0 0;
			padding: 0;
			line-height: 1;
		}
	}

	nav {
		text-align: right;
	}

	#mobile-menu-trigger {
		display: none;
	}
}
