/**
 * 	Name: custom-colors.css
 *
 *	Guidline on what CSS to change for custom colors
 *
 **/

// Colors

$text-color: #b7b7b7; 													// Text color
$text-color-2: #b7b7b7; 													// Text color

$header-color: #414444; 												// Headers

$accent-1-color: #aacfdf; 											// Accent Color 1
$accent-2-color: #bbd9e5;	 										// Accent Color 2

$link-color: #6aa4bc ; 												// Link color
$link-hover-color: #aacfdf; 											// Link :hover / :focus Color
$link-active-color: #414444; 											// Link :active color

$menu-item-color: #ffffff; 											// Menu item color
$menu-item-hover-color: #ffffff; 									// Menu item hover color
$menu-dropdown-background-color: rgba(170, 207, 223, 0.90);

$border-color: #ebebeb; 												// Borders (Grey)

$input-placeholder-color: #ababb2; 										// input placeholders color
$input-text-color: #ababb2; 											// input text color
$input-border-color: #ebebeb; 										// input border color
$input-border-focus-color: #cde0e9; 									// input border color :focus 
$input-border-invalid-color: #ffc3be; 										// input border color :invalid

$background-color: #fbfcfe; 											// frontpage sections backgrounds

// Colors Contrast

$contrast-text-color: #ffffff!default; 								// Text color

$contrast-header-color: #ffffff; 									// Headers

$contrast-link-color: #ffffff; 										// Link color
$contrast-link-hover-color: #aacfdf; 								// Link :hover / :focus Color
$contrast-link-active-color: #414444; 										// Link :active color

$contrast-border-color: rgba(255, 255, 255, 0.25); 						// border color

// Other colors

$footer-top-background-color: #b2d3e2;								// footer top bg color
$page-header-overlay-background-color: rgba(187, 217, 228, 0.95);


// CSS Rules afected by the colors above


.text-accent-color { color: $accent-1-color; }

.text-accent-color-2 { color: $accent-2-color; }

body {
	color: $text-color;
	background-color: #ffffff; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $header-color;
}


abbr[title] {  
	border-bottom-color: $text-color; 
}

q {
	color: $header-color;
}

blockquote {
	color: $header-color;
}

pre { 
	background-color: $background-color;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea {
	border-color: $border-color;
	color: $text-color;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="color"]:focus,
textarea:focus {
	border-color: $input-border-focus-color;
}

input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="date"]:disabled,
input[type="datetime"]:disabled,
input[type="datetime-local"]:disabled,
input[type="month"]:disabled,
input[type="week"]:disabled,
input[type="email"]:disabled,
input[type="number"]:disabled,
input[type="search"]:disabled,
input[type="tel"]:disabled,
input[type="time"]:disabled,
input[type="url"]:disabled,
input[type="color"]:disabled,
textarea:disabled {
	background-color: $background-color;
}

input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="date"]:invalid,
input[type="datetime"]:invalid,
input[type="datetime-local"]:invalid,
input[type="month"]:invalid,
input[type="week"]:invalid,
input[type="email"]:invalid,
input[type="number"]:invalid,
input[type="search"]:invalid,
input[type="tel"]:invalid,
input[type="time"]:invalid,
input[type="url"]:invalid,
input[type="color"]:invalid,
textarea:invalid {
	border-color: $input-border-invalid-color;
}

input[type="text"][disabled],
input[type="text"][readonly],
fieldset[disabled] input[type="text"],
input[type="password"][disabled],
input[type="password"][readonly],
fieldset[disabled] input[type="password"],
input[type="date"][disabled],
input[type="date"][readonly],
fieldset[disabled] input[type="date"],
input[type="datetime"][disabled],
input[type="datetime"][readonly],
fieldset[disabled] input[type="datetime"],
input[type="datetime-local"][disabled],
input[type="datetime-local"][readonly],
fieldset[disabled] input[type="datetime-local"],
input[type="month"][disabled],
input[type="month"][readonly],
fieldset[disabled] input[type="month"],
input[type="week"][disabled],
input[type="week"][readonly],
fieldset[disabled] input[type="week"],
input[type="email"][disabled],
input[type="email"][readonly],
fieldset[disabled] input[type="email"],
input[type="number"][disabled],
input[type="number"][readonly],
fieldset[disabled] input[type="number"],
input[type="search"][disabled],
input[type="search"][readonly],
fieldset[disabled] input[type="search"],
input[type="tel"][disabled],
input[type="tel"][readonly],
fieldset[disabled] input[type="tel"],
input[type="time"][disabled],
input[type="time"][readonly],
fieldset[disabled] input[type="time"],
input[type="url"][disabled],
input[type="url"][readonly],
fieldset[disabled] input[type="url"],
input[type="color"][disabled],
input[type="color"][readonly],
fieldset[disabled] input[type="color"],
textarea[disabled],
textarea[readonly],
fieldset[disabled] textarea {
	background-color: $background-color;
}

select {
	border-color: $border-color;
	color: $text-color;
}

select:focus { border-color: $input-border-focus-color; }

input[type="reset"],
input[type="submit"],
input[type="button"]{
	border-color: $link-color;
	background-color: $link-color;
} 

input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:focus,
input[type="submit"]:focus,
input[type="button"]:focus {
	border-color: $link-hover-color;
	background-color: $link-hover-color;
}

input[type="reset"]:active,
input[type="submit"]:active,
input[type="button"]:active {
	border-color: $link-active-color;
	background-color: $link-active-color;
}		

::-webkit-input-placeholder { color: $input-placeholder-color; }

:-moz-placeholder { color: $input-placeholder-color; }

::-moz-placeholder {
	color: $input-placeholder-color;
}

:-ms-input-placeholder {	color: $input-placeholder-color; }

hr {
	background-color: $border-color;
}

table,
th,
td { border-color: $border-color; }

a {
	color: $link-color;
}

a:focus { color: $link-hover-color; }

a:hover { color: $link-hover-color; }

a:active { color: $link-active-color; }

a.btn {
	border-color: $link-color;
	background-color: $link-color;
} 

a.btn:focus,
a.btn:hover {
	border-color: $link-hover-color;
	background-color: $link-hover-color;
}

a.btn:active {
	border-color: $link-active-color;
	background-color: $link-active-color;
}

a.social-icon { color: $text-color; }

a.social-icon:hover,
a.social-icon:focus { color: $link-hover-color; }

a.social-icon:active { color: $link-active-color; }

#footer-top {
	background-color: $footer-top-background-color;
}

#footer-bottom {
	border-top-color: $border-color;
}	

#logo.logo-text a {
	color: $header-color;
}	

#header nav {
	background-color: $accent-1-color;
}

.sf-menu a {
	color: $menu-item-color;
}

.sf-menu a:hover {
	color: $menu-item-hover-color;
}	

.sf-menu li.dropdown ul a,
.sf-menu li.mega .sf-mega a{ 
	border-bottom-color: $contrast-border-color;
}

.sf-menu li.dropdown li > a:hover:before { 
	border-bottom-color: $menu-item-hover-color;
}

.sf-menu > li > a,
.sf-menu > li.dropdown > a,
.sf-menu > li.mega > a {
	color: $menu-item-color;
}

.sf-menu > li a i { 
	color: $menu-item-color;		
}

.sf-menu > li.current > a {
	color: $menu-item-color;
} 

.sf-menu > li.sfHover > a:hover,
.sf-menu > li > a:hover {
	color: $menu-item-hover-color; 
}	

.sf-menu li.dropdown ul {
	background-color: $menu-dropdown-background-color;	
}

.sf-mega {
	background-color: $menu-dropdown-background-color;
	color: $menu-item-color;
}

#mobile-menu {
	background-color: $accent-1-color;
	color: $menu-item-color;
	border-bottom-color: rgba(255, 255, 255, 0.25);
}

#mobile-menu li a {
	border-top-color: $contrast-border-color;
	color: $menu-item-color;
}

#mobile-menu .mobile-menu-submenu-arrow {
	border-left-color: $contrast-border-color;
	color: $menu-item-color;
}

#mobile-menu .mobile-menu-submenu-arrow:hover { background-color: $contrast-border-color; }
	
#mobile-menu-trigger { 
	color: $menu-item-color;
}

#mobile-menu-trigger:hover {
	color: $menu-item-hover-color;
}	

#custom-search-form {
	border-color: $accent-1-color;
	background-color: $accent-1-color;
}	

#custom-search-form.focused  #custom-search-button { 
	color: $accent-1-color;
}	

#page-header { 
	background-color: $background-color;
}

#page-header #page-header-overlay {
	background-color: $page-header-overlay-background-color;
}

#back-to-top {
	background-color: $link-color;
	color: #ffffff;
}

#back-to-top:hover { background-color: $link-hover-color; }
#back-to-top:hover i { color: #ffffff; }

.sticky .post-thumbnail:after {
	color: $accent-1-color;
}

.post-title a{
	color: $header-color;
}

.tags-links {
	color: $header-color;
}

.tags-links a {
	border-color: $link-color;
	color: $link-color;
}

.tags-links a:hover{
	color: $link-hover-color;
	border-color: $link-hover-color;
}

.more-link:before {
	border-top-color: $link-color;
}

.more-link:hover:before {
	border-top-color: $link-hover-color;	
}	

.posted-on {
	color: $header-color;
}

.post-format {
	color: $accent-1-color;
}

.pagination .page-numbers.current {
	border-bottom-color: $text-color;
}

.page-links {
	color: $header-color;
}

.post-navigation {
	border-top-color: $border-color;
}

.post-navigation .nav-subtitle {
	color: $header-color;
}

.author-bio {
	border-color: $border-color;
	background-color: $background-color;
}

.author-bio-social a {
	color: $header-color; 
}

.no-comments, 
.comment-awaiting-moderation {
	color: $header-color;
}

.comment-metadata >  a {
	color: $text-color;
}

.comment  .comment-body {
	border-top-color: $border-color;	
}

#comment-nav-above {
	border-bottom-color: $border-color;
}

#comment-nav-below {
	border-top: 1px solid $border-color;
}

.widget_archive li { 
	border-bottom-color: $border-color;
} 

#wp-calendar caption {
	background-color: #ffffff;
	border-color: $border-color;
	color: $accent-1-color;
}

#wp-calendar th {
	color: $accent-1-color;
}	

#wp-calendar  tbody td a {
	background-color: $accent-1-color;
	color: #ffffff;
}

#wp-calendar  tbody td a:hover {
	background-color: $link-hover-color;
}

#wp-calendar #prev a:before {
	color: $accent-1-color;
}

#wp-calendar #prev a:hover:before {
	color: $link-hover-color;
}

#wp-calendar #next a:before {
	color: $accent-1-color;
}

#wp-calendar #next a:hover:before {
	color: $link-hover-color;
}

.widget_categories li { 
	border-bottom-color: $border-color;
} 

.widget_recent_entries ul li { 
	border-bottom-color: $border-color;
}

.widget_rss .rss-date,
.widget_rss cite 	{
	color: $header-color;
}

.widget_search .search-submit {
	background-color: #ffffff;
	border-color: $border-color;
	color: $accent-1-color;
}

.widget_search .search-submit:hover, 
.widget_search .search-submit:focus {
	background-color: #ffffff;
	border-color: $border-color;
	color: $link-hover-color;
}

.widget_search .search-submit:active {
	background-color: #ffffff;
	border-color: $border-color;
	color: $header-color;
}

.widget_tag_cloud a {
	border-color: $link-color;
	color: $link-color;
}

.widget_tag_cloud a:hover {
	color: $link-hover-color;
	border-color: $link-hover-color;
}

.mt_widget_about_me .author-bio {
	background-color: $background-color;;
}

.mt_widget_about_me .author-bio:before {
	border-top-color: $link-color;
}

.mt_widget_about_me .author-bio .about-me-social a {
	color: $header-color;
}

.post-slider .slick-dots li a:hover {
	color: $link-hover-color;
}

.post-slider .slick-dots li.slick-active a:before {
	border-top-color: $accent-2-color;
}


.mt_widget_post_grid .post-grid.post-grid-overlay,
.mt_widget_post_grid .post-grid.post-grid-overlay a {
	color: #ffffff;
}


.newsmag-posts-timeline ul::before {
	border-left-color: $accent-1-color;
}

.newsmag-posts-timeline ul li:before {
	color: $accent-1-color;
	background-color: #ffffff;
}

.newsmag-posts-timeline ul li:last-child h6:before {
	background-color: #ffffff;
}

.newsmag-posts-timeline h6 a {
	color: $header-color;
}

.contrast {
	color: $contrast-text-color; 
}

.contrast h1,
.contrast h2,
.contrast h3,
.contrast h4,
.contrast h5,
.contrast h6 {
	color: $contrast-header-color;
}

.contrast abbr[title] {  
	border-bottom-color: $contrast-text-color; 
}

.contrast q ,
.contrast blockquote { color: $contrast-header-color; }

.contrast pre {
	color: $text-color;
	background-color: #ffffff;
}  

.contrast hr {
	border-color: $contrast-border-color;
}

.contrast table,
.contrast th,
.contrast td { 
	border-color: $contrast-border-color; 
}

.contrast a { color: $contrast-link-color; }

.contrast a:focus { color: $contrast-link-hover-color; }

.contrast a:hover { color: $contrast-link-hover-color; }

.contrast a:active { color: $contrast-link-active-color; }

.contrast a.btn { color: $contrast-text-color; }

.contrast .widget_categories li,
.contrast .widget_archive li,
.contrast .widget_recent_entries ul li {
	border-bottom-color: $contrast-border-color;
}

.contrast #wp-calendar th { 
	color: $contrast-text-color;
}

.contrast #wp-calendar tbody td a {
	background-color: $accent-1-color;
}	

.contrast #wp-calendar tbody td:not(.pad) {
	border-color: $contrast-border-color;
}

.contrast .widget_rss cite,
.contrast .widget_rss .rss-date {
	color: $contrast-text-color;
}

.contrast .widget_tag_cloud a {
	color: $contrast-link-color;
	border-color: $contrast-border-color;
}

.contrast .mt_widget_about_me .author-bio {
	background-color: transparent;
}

.contrast .mt_widget_about_me .author-bio:before {
	display: none;
}