/**
 * 	Name: custom-fonts.css
 *
 *	Guidline on what CSS to change for custom fonts
 *
 **/

 @import "mixins/mixins";
 
/* ==========================================================================
   =Values for customization
   ========================================================================== */
   
	/* Font family - General */
	
	body {
		font-family: 'Work Sans', sans-serif;
	}	
	
	/* Font family - Headers */
	
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: 'Work Sans', sans-serif;
	}
	
	/* Font family - main menu */

	.sf-menu a {
		font-family: 'Work Sans', sans-serif;
	}
	
	/* Font size, line-height, font-weight, letter spacing - General */
	
	html { 
		font-size: 10px; /* font-size should be DESIRED FONTSIZE / 1.4 */ 
	}
	
	body {
		@include line-height(14,25,true);
		font-weight: 400;
		letter-spacing: 0;
	}
	
	/* Font size, line-height, font-weight, letter spacing - Headers */
	
	h1 {	
		@include font-size(30,true);
		font-weight: 400;
		@include line-height(30,33,true);
		letter-spacing: 0;	
	}

	h2 {
		@include font-size(28,true);
		font-weight: 400;
		@include line-height(28,33,true);
		letter-spacing: 0;	
	}

	h3 {
		@include font-size(25,true);
		font-weight: 400;
		@include line-height(25,30,true);
		letter-spacing: 0;	
	}

	h4 {
		@include font-size(23,true);
		font-weight: 400;
		@include line-height(23,28,true);
		letter-spacing: 0;	
	}

	h5 {
		@include font-size(20,true);
		font-weight: 400;
		@include line-height(20,28,true);
		letter-spacing: 0;	
	}

	h6 {
		@include font-size(18,true);
		font-weight: 400;
		@include line-height(18,24,true);
		letter-spacing: 0;	
	}
	
	/* Font size, line-height, font-weight, letter spacing, font-style - Blockquote */
	
	blockquote {
		@include font-size(18,true);
		font-weight: 300;
		font-style: italic;
		@include line-height(18,30,true);
		letter-spacing: 0;
	}
	
	/* Font size, line-height, font-weight, letter spacing - Menu */
	
	.sf-menu a {
		@include font-size(14,true);
		font-weight: 400;
		@include line-height(14,24,true);
		letter-spacing: 0;
	}