/**
 * 	Name: custom-colors.css
 *
 *	Guidline on what CSS to change for custom colors
 *
 **/
.text-accent-color
{
    color: #aacfdf;
}

.text-accent-color-2
{
    color: #bbd9e5;
}

body
{
    color: #b7b7b7;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    color: #414444;
}

abbr[title]
{
    border-bottom-color: #b7b7b7;
}

q
{
    color: #414444;
}

blockquote
{
    color: #414444;
}

pre
{
    background-color: #fbfcfe;
}

input[type='text'],
input[type='password'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='month'],
input[type='week'],
input[type='email'],
input[type='number'],
input[type='search'],
input[type='tel'],
input[type='time'],
input[type='url'],
input[type='color'],
textarea
{
    color: #b7b7b7;
    border-color: #ebebeb;
}

input[type='text']:focus,
input[type='password']:focus,
input[type='date']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='month']:focus,
input[type='week']:focus,
input[type='email']:focus,
input[type='number']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='time']:focus,
input[type='url']:focus,
input[type='color']:focus,
textarea:focus
{
    border-color: #cde0e9;
}

input[type='text']:disabled,
input[type='password']:disabled,
input[type='date']:disabled,
input[type='datetime']:disabled,
input[type='datetime-local']:disabled,
input[type='month']:disabled,
input[type='week']:disabled,
input[type='email']:disabled,
input[type='number']:disabled,
input[type='search']:disabled,
input[type='tel']:disabled,
input[type='time']:disabled,
input[type='url']:disabled,
input[type='color']:disabled,
textarea:disabled
{
    background-color: #fbfcfe;
}

input[type='text']:invalid,
input[type='password']:invalid,
input[type='date']:invalid,
input[type='datetime']:invalid,
input[type='datetime-local']:invalid,
input[type='month']:invalid,
input[type='week']:invalid,
input[type='email']:invalid,
input[type='number']:invalid,
input[type='search']:invalid,
input[type='tel']:invalid,
input[type='time']:invalid,
input[type='url']:invalid,
input[type='color']:invalid,
textarea:invalid
{
    border-color: #ffc3be;
}

input[type='text'][disabled],
input[type='text'][readonly],
fieldset[disabled] input[type='text'],
input[type='password'][disabled],
input[type='password'][readonly],
fieldset[disabled] input[type='password'],
input[type='date'][disabled],
input[type='date'][readonly],
fieldset[disabled] input[type='date'],
input[type='datetime'][disabled],
input[type='datetime'][readonly],
fieldset[disabled] input[type='datetime'],
input[type='datetime-local'][disabled],
input[type='datetime-local'][readonly],
fieldset[disabled] input[type='datetime-local'],
input[type='month'][disabled],
input[type='month'][readonly],
fieldset[disabled] input[type='month'],
input[type='week'][disabled],
input[type='week'][readonly],
fieldset[disabled] input[type='week'],
input[type='email'][disabled],
input[type='email'][readonly],
fieldset[disabled] input[type='email'],
input[type='number'][disabled],
input[type='number'][readonly],
fieldset[disabled] input[type='number'],
input[type='search'][disabled],
input[type='search'][readonly],
fieldset[disabled] input[type='search'],
input[type='tel'][disabled],
input[type='tel'][readonly],
fieldset[disabled] input[type='tel'],
input[type='time'][disabled],
input[type='time'][readonly],
fieldset[disabled] input[type='time'],
input[type='url'][disabled],
input[type='url'][readonly],
fieldset[disabled] input[type='url'],
input[type='color'][disabled],
input[type='color'][readonly],
fieldset[disabled] input[type='color'],
textarea[disabled],
textarea[readonly],
fieldset[disabled] textarea
{
    background-color: #fbfcfe;
}

select
{
    color: #b7b7b7;
    border-color: #ebebeb;
}

select:focus
{
    border-color: #cde0e9;
}

input[type='reset'],
input[type='submit'],
input[type='button']
{
    border-color: #6aa4bc;
    background-color: #6aa4bc;
}

input[type='reset']:hover,
input[type='submit']:hover,
input[type='button']:hover,
input[type='reset']:focus,
input[type='submit']:focus,
input[type='button']:focus
{
    border-color: #aacfdf;
    background-color: #aacfdf;
}

input[type='reset']:active,
input[type='submit']:active,
input[type='button']:active
{
    border-color: #414444;
    background-color: #414444;
}

::-webkit-input-placeholder
{
    color: #ababb2;
}

:-moz-placeholder
{
    color: #ababb2;
}

::-moz-placeholder
{
    color: #ababb2;
}

:-ms-input-placeholder
{
    color: #ababb2;
}

hr
{
    background-color: #ebebeb;
}

table,
th,
td
{
    border-color: #ebebeb;
}

a
{
    color: #6aa4bc;
}

a:focus
{
    color: #aacfdf;
}

a:hover
{
    color: #aacfdf;
}

a:active
{
    color: #414444;
}

a.btn
{
    border-color: #6aa4bc;
    background-color: #6aa4bc;
}

a.btn:focus,
a.btn:hover
{
    border-color: #aacfdf;
    background-color: #aacfdf;
}

a.btn:active
{
    border-color: #414444;
    background-color: #414444;
}

a.social-icon
{
    color: #b7b7b7;
}

a.social-icon:hover,
a.social-icon:focus
{
    color: #aacfdf;
}

a.social-icon:active
{
    color: #414444;
}

#footer-top
{
    background-color: #b2d3e2;
}

#footer-bottom
{
    border-top-color: #ebebeb;
}

#logo.logo-text a
{
    color: #414444;
}

#header nav
{
    background-color: #aacfdf;
}

.sf-menu a
{
    color: #fff;
}

.sf-menu a:hover
{
    color: #fff;
}

.sf-menu li.dropdown ul a,
.sf-menu li.mega .sf-mega a
{
    border-bottom-color: rgba(255, 255, 255, .25);
}

.sf-menu li.dropdown li > a:hover:before
{
    border-bottom-color: #fff;
}

.sf-menu > li > a,
.sf-menu > li.dropdown > a,
.sf-menu > li.mega > a
{
    color: #fff;
}

.sf-menu > li a i
{
    color: #fff;
}

.sf-menu > li.current > a
{
    color: #fff;
}

.sf-menu > li.sfHover > a:hover,
.sf-menu > li > a:hover
{
    color: #fff;
}

.sf-menu li.dropdown ul
{
    background-color: rgba(170, 207, 223, .9);
}

.sf-mega
{
    color: #fff;
    background-color: rgba(170, 207, 223, .9);
}

#mobile-menu
{
    color: #fff;
    border-bottom-color: rgba(255, 255, 255, .25);
    background-color: #aacfdf;
}

#mobile-menu li a
{
    color: #fff;
    border-top-color: rgba(255, 255, 255, .25);
}

#mobile-menu .mobile-menu-submenu-arrow
{
    color: #fff;
    border-left-color: rgba(255, 255, 255, .25);
}

#mobile-menu .mobile-menu-submenu-arrow:hover
{
    background-color: rgba(255, 255, 255, .25);
}

#mobile-menu-trigger
{
    color: #fff;
}

#mobile-menu-trigger:hover
{
    color: #fff;
}

#custom-search-form
{
    border-color: #aacfdf;
    background-color: #aacfdf;
}

#custom-search-form.focused #custom-search-button
{
    color: #aacfdf;
}

#page-header
{
    background-color: #fbfcfe;
}

#page-header #page-header-overlay
{
    background-color: rgba(187, 217, 228, .95);
}

#back-to-top
{
    color: #fff;
    background-color: #6aa4bc;
}

#back-to-top:hover
{
    background-color: #aacfdf;
}

#back-to-top:hover i
{
    color: #fff;
}

.sticky .post-thumbnail:after
{
    color: #aacfdf;
}

.post-title a
{
    color: #414444;
}

.tags-links
{
    color: #414444;
}

.tags-links a
{
    color: #6aa4bc;
    border-color: #6aa4bc;
}

.tags-links a:hover
{
    color: #aacfdf;
    border-color: #aacfdf;
}

.more-link:before
{
    border-top-color: #6aa4bc;
}

.more-link:hover:before
{
    border-top-color: #aacfdf;
}

.posted-on
{
    color: #414444;
}

.post-format
{
    color: #aacfdf;
}

.pagination .page-numbers.current
{
    border-bottom-color: #b7b7b7;
}

.page-links
{
    color: #414444;
}

.post-navigation
{
    border-top-color: #ebebeb;
}

.post-navigation .nav-subtitle
{
    color: #414444;
}

.author-bio
{
    border-color: #ebebeb;
    background-color: #fbfcfe;
}

.author-bio-social a
{
    color: #414444;
}

.no-comments,
.comment-awaiting-moderation
{
    color: #414444;
}

.comment-metadata > a
{
    color: #b7b7b7;
}

.comment .comment-body
{
    border-top-color: #ebebeb;
}

#comment-nav-above
{
    border-bottom-color: #ebebeb;
}

#comment-nav-below
{
    border-top: 1px solid #ebebeb;
}

.widget_archive li
{
    border-bottom-color: #ebebeb;
}

#wp-calendar caption
{
    color: #aacfdf;
    border-color: #ebebeb;
    background-color: #fff;
}

#wp-calendar th
{
    color: #aacfdf;
}

#wp-calendar tbody td a
{
    color: #fff;
    background-color: #aacfdf;
}

#wp-calendar tbody td a:hover
{
    background-color: #aacfdf;
}

#wp-calendar #prev a:before
{
    color: #aacfdf;
}

#wp-calendar #prev a:hover:before
{
    color: #aacfdf;
}

#wp-calendar #next a:before
{
    color: #aacfdf;
}

#wp-calendar #next a:hover:before
{
    color: #aacfdf;
}

.widget_categories li
{
    border-bottom-color: #ebebeb;
}

.widget_recent_entries ul li
{
    border-bottom-color: #ebebeb;
}

.widget_rss .rss-date,
.widget_rss cite
{
    color: #414444;
}

.widget_search .search-submit
{
    color: #aacfdf;
    border-color: #ebebeb;
    background-color: #fff;
}

.widget_search .search-submit:hover,
.widget_search .search-submit:focus
{
    color: #aacfdf;
    border-color: #ebebeb;
    background-color: #fff;
}

.widget_search .search-submit:active
{
    color: #414444;
    border-color: #ebebeb;
    background-color: #fff;
}

.widget_tag_cloud a
{
    color: #6aa4bc;
    border-color: #6aa4bc;
}

.widget_tag_cloud a:hover
{
    color: #aacfdf;
    border-color: #aacfdf;
}

.mt_widget_about_me .author-bio
{
    background-color: #fbfcfe;
}

.mt_widget_about_me .author-bio:before
{
    border-top-color: #6aa4bc;
}

.mt_widget_about_me .author-bio .about-me-social a
{
    color: #414444;
}

.post-slider .slick-dots li a:hover
{
    color: #aacfdf;
}

.post-slider .slick-dots li.slick-active a:before
{
    border-top-color: #bbd9e5;
}

.mt_widget_post_grid .post-grid.post-grid-overlay,
.mt_widget_post_grid .post-grid.post-grid-overlay a
{
    color: #fff;
}

.newsmag-posts-timeline ul::before
{
    border-left-color: #aacfdf;
}

.newsmag-posts-timeline ul li:before
{
    color: #aacfdf;
    background-color: #fff;
}

.newsmag-posts-timeline ul li:last-child h6:before
{
    background-color: #fff;
}

.newsmag-posts-timeline h6 a
{
    color: #414444;
}

.contrast
{
    color: #fff;
}

.contrast h1,
.contrast h2,
.contrast h3,
.contrast h4,
.contrast h5,
.contrast h6
{
    color: #fff;
}

.contrast abbr[title]
{
    border-bottom-color: #fff;
}

.contrast q,
.contrast blockquote
{
    color: #fff;
}

.contrast pre
{
    color: #b7b7b7;
    background-color: #fff;
}

.contrast hr
{
    border-color: rgba(255, 255, 255, .25);
}

.contrast table,
.contrast th,
.contrast td
{
    border-color: rgba(255, 255, 255, .25);
}

.contrast a
{
    color: #fff;
}

.contrast a:focus
{
    color: #aacfdf;
}

.contrast a:hover
{
    color: #aacfdf;
}

.contrast a:active
{
    color: #414444;
}

.contrast a.btn
{
    color: #fff;
}

.contrast .widget_categories li,
.contrast .widget_archive li,
.contrast .widget_recent_entries ul li
{
    border-bottom-color: rgba(255, 255, 255, .25);
}

.contrast #wp-calendar th
{
    color: #fff;
}

.contrast #wp-calendar tbody td a
{
    background-color: #aacfdf;
}

.contrast #wp-calendar tbody td:not(.pad)
{
    border-color: rgba(255, 255, 255, .25);
}

.contrast .widget_rss cite,
.contrast .widget_rss .rss-date
{
    color: #fff;
}

.contrast .widget_tag_cloud a
{
    color: #fff;
    border-color: rgba(255, 255, 255, .25);
}

.contrast .mt_widget_about_me .author-bio
{
    background-color: transparent;
}

.contrast .mt_widget_about_me .author-bio:before
{
    display: none;
}
