/**
 * 1. Accent Color
 * 2. Secondary Accent Color
 * 3. Text Color
 * 4. Header Text Color
 * 5. Link Color
 * 6.Hover Link Color
 */

.text-accent-color {
    color: %1$s;
}

.text-accent-color-2 {
    color: %2$s;
}

#custom-search-form{
    border-color: %1$s;
    background-color: %1$s;
}

#custom-search-form.focused  #custom-search-button {
    color: %1$s;
}

.sticky .post-thumbnail:after {
    color: %1$s;
}

body,
.comment-metadata >  a,
abbr[title]{
    color: %3$s;
}

h1,
h2,
h3,
h4,
h5,
h6,
q,
blockquote{
    color: %4$s;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea,
select{
    color: %3$s;
}

a{
    color: %5$s;
}

a:focus { color: %6$s; }
a:hover { color: %6$s; }

.widget_tag_cloud a,
.tags-links a,
a.btn {
    border-color: %5$s;
    background-color: %5$s;
}

.widget_tag_cloud a:hover,
.tags-links a:hover,
a.btn:focus,
a.btn:hover {
    border-color: %6$s;
    background-color: %6$s;
}

.post-format{
    color: %1$s;
}

.no-comments,
.comment-awaiting-moderation,
.author-bio-social a,
.post-navigation .nav-subtitle,
.page-links,
.posted-on,
.post-title a{
    color: %4$s;
}

input[type="reset"],
input[type="submit"],
input[type="button"]{
    border-color: %5$s;
    background-color: %5$s;
}

input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:focus,
input[type="submit"]:focus,
input[type="button"]:focus {
    border-color: %6$s;
    background-color: %6$s;
}

#wp-calendar th,
#wp-calendar caption {
    color: %1$s;
}

#wp-calendar  tbody td a{
    background-color: %1$s;
}

#wp-calendar  tbody td a:hover{
    background-color: %6$s;
}

#wp-calendar #prev a:before {
    color: %1$s;
}

#wp-calendar #prev a:hover:before {
    color: %6$s;
}

#wp-calendar #next a:before {
    color: %1$s;
}

#wp-calendar #next a:hover:before {
    color: %6$s;
}

.widget_rss .rss-date,
.widget_rss cite 	{
    color: %4$s;
}

.widget_search .search-submit {
    color: %1$s;
}

.widget_search .search-submit:hover,
.widget_search .search-submit:focus {
    color: %6$s;
}

.widget_search .search-submit:active {
    color: %4$s;
}

.mt_widget_about_me .author-bio:before {
    border-top-color: %5$s;
}

.mt_widget_about_me .author-bio .about-me-social a {
    color: %4$s;
}

.post-slider .slick-dots li a:hover {
    color: %6$s;
}

.post-slider .slick-dots li.slick-active a:before {
    border-top-color: %2$s;
}