
/* ----------------------------------- #01 - ABOUT section ---------------------------------*/

.section-about {
    padding: 90px 0 0 0;
}

.section-about a {
    font-weight: 500;
    font-size: 17px;
}

.section-about a i {
    margin: 0 0 0 5px;
}

.section-about p {
    margin-bottom: 25px;
}

.about-image {
    display: block;
    margin-left: -300px;
}

.section-about.animate-- {
    background: transparent;
}


@media (max-width: 991px) {
	
	.about-image {
        margin: -90px 0 0 0;
    }
	
    .section-about .headline {
        margin: 75px 0 0 0;
    }

}


@media (max-width: 500px) {
    
    .about-image {
        width: 100%;
        height: 100%;
    }
	
	.section-about .headline {
        margin: 40px 0 0 0;
    }
	
}


/* ----------------------------------- #01 - ABOUT section - END -------------------------*/
