
/* ----------------------------------- #01 - ABOUT section ---------------------------------*/

.section-about {
    padding: 70px 0;
	overflow:hidden;
}

.section-about.animate-- {
    background: transparent;
}


/* ----------------------------------- #01 - ABOUT section - END -------------------------*/
