/* ----------------------------------- #02 - SERVICES section --------------------------------*/


.section-services {
  background-color: rgba(0, 0, 0, .8);
}

.services-item {
  margin-bottom:30px;
   
  i {
	  color: #fff;
	  font-size: 30px;
  }
  	
  span {

	  color: $accent-1-color;
	  margin-top: 25px;
  }
  
  strong {
	  color: #fff;
  }
  
  span,
strong {  
	  display: block;
   }
  
}

@media (max-width: 768px) {
	.services-item {
		text-align:center;
	}
}

/* ----------------------------------- #02 - SERVICES section - END -----------------------------*/
