/* ----------------------------------- #02 - SERVICES section --------------------------------*/


.section-services {
  background-color: rgba(0, 0, 0, .8);
}

.services-item {
  margin-top:30px;
  
  &.services-item-first {
	  margin-top:0;
  }
  
  i {
	  color: #fff;
	  font-size: 30px;
  }
  	
  span {

	  color: $accent-1-color;
	  margin-top: 25px;
  }
  
  strong {
	  color: #fff;
  }
  
  span,
strong {  
	  display: block;
	  /*font-family: 'Poppins', sans-serif;
	  font-size: 14px;
	  letter-spacing: 1.2px;
	  */
   }
  
}

/* ----------------------------------- #02 - SERVICES section - END -----------------------------*/
