/* ----------------------------------- #04 - TESTIMONIALS section ------------------------*/

.testimonial {
	position: relative;
	margin-top: 55px;
	min-height: 150px;
	padding: 50px 30px;
	text-align: center;
	color: $text-color;

	.ewf-testimonial__by {
		font-size: 0.8125em;
		font-weight: 400;
		color: lighten($text-color, 40);

	}

	img {
		top: -65px;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		display: block;
		position: absolute;
		max-width: 100px;
		height: auto;
		border-radius: 50%;
	}

	.ewf-testimonial__content {
		p {
			font-size: 0.875em;
			line-height: 1.5em;
		}
	}

}

/* ----------------------------------- #04 - TESTIMONIALS section - END -------------------*/
