/* ----------------------------------- #04 - TESTIMONIALS section ------------------------*/

.testimonial {
	background: #fff;
	position: relative;
	margin-bottom: 75px;
	min-height: 150px;
	/*transition: 280ms all;*/

	&.left {
		padding: 25px 0 35px 95px;
		
		img {
			left: -95px;
			bottom: -25px;
		}
		
		span { left: 25px; }
	}

	&.right {
		padding: 30px 95px 40px 0;
		text-align: right;
		
		img {
			right: -95px;
			bottom: -25px;
		}
		
		span { right: 25px; }
	}
	
	h6 {
		margin-bottom: 10px;
		font-weight: 500;
		letter-spacing: 1.5px;
		position: relative;
		z-index: 999;
	}

	img {
	  display: block;
	  position: absolute;
	  width: 160px;
	  height: 160px;		
	  box-shadow: 0 7px 19px 2px rgba(35, 31, 32, .04);
	}
	
	p {
		font-style: italic;
		margin-bottom: 25px;
	}
	
	a {
		color: $accent-1-color;
	}
	
	span {
		position: absolute;
		top: 25px;
		width: 35px;
		height: 25px;
		background: url("../images/back-quote.png") no-repeat center center;
		z-index: 9;
	}
	
	/*
	&:hover {
		background-color: $accent-2-color;
	}

	&:hover h6,
	&:hover p,
	&:hover a {
		color: #fff;
	}
	*/
	
	&:hover a {
		color: $accent-2-color;
	}
}



@media (max-width: 768px) {

	.section-testimonials .comment-hidden-mobile + .show-more-comments {
		display: block;
		width: 100%;
		-webkit-border-radius: 0 0 20px 20px;
		-moz-border-radius: 0 0 20px 20px;
		border-radius: 0 0 20px 20px;
	}

	.hidden-testimonial {
		display: none;
	}

	.testimonial {
		margin-bottom: 35px;
		
		&.left {
			padding: 15px 0 25px 35px;

			span {
				left: 15px;
				top: 20px;
			}
			
			img {
				right: 20px;
				left: initial;			
			}
		}

		&.right {
			padding: 15px 35px 25px 0;

			span {
				right: 15px;
				top: 20px;
			}
			
			img {
				left: 20px;
				right: initial;
			}
		}
		
		img {
			height: 65px;
			width: 65px;
			top: -20px;
			bottom: initial;
		}
	}
}

/* ----------------------------------- #04 - TESTIMONIALS section - END -------------------*/
