/* =Counter
   ========================================================================== */

.ewf-counter {
	position: relative;

	&:after {
		visibility: hidden;
		display: block;
		height: 0;
		font-size: 0;
		content: " ";
		clear: both;
	}
}

.ewf-counter__standard,
.ewf-counter__odometer{
	font-size: 56px; /* this needs to remain hardcoded */
	line-height: 1;
	color: $text-color;
}

.ewf-counter__symbol {
	font-size: 36px; /* this needs to remain hardcoded */
	vertical-align: middle;
}

.ewf-counter__title {
	color: $headings-color;
}

.ewf-counter__odometer {
	display: inline-block;
	vertical-align: middle;
	position: relative;
}

.ewf-counter__odometer .odometer-digit {
	display: inline-block;
	vertical-align: middle;
	position: relative;
}

.ewf-counter__odometer .odometer-digit .odometer-digit-spacer {
	display: inline-block;
	vertical-align: middle;
	visibility: hidden;
}

.ewf-counter__odometer .odometer-digit .odometer-digit-inner {
	text-align: left;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}

.ewf-counter__odometer .odometer-digit .odometer-ribbon {
	display: block;
}

.ewf-counter__odometer .odometer-digit .odometer-ribbon-inner {
	display: block;
	backface-visibility: hidden;
}

.ewf-counter__odometer .odometer-digit .odometer-value {
	display: block;
	transform: translateZ(0);
}

.ewf-counter__odometer .odometer-digit .odometer-value.odometer-last-value {
	position: absolute;
}

.ewf-counter__odometer.odometer-animating-up .odometer-ribbon-inner {
	transition: transform 2s;
}

.ewf-counter__odometer.odometer-animating-up.odometer-animating .odometer-ribbon-inner {
	transform: translateY(-100%);
}

.ewf-counter__odometer.odometer-animating-down .odometer-ribbon-inner {
	transform: translateY(-100%);
}

.ewf-counter__odometer.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
	transition: transform 2s;
	transform: translateY(0);
}

.ewf-counter__odometer .odometer-value {
	text-align: center;
}
