/* ----------------------------------- #17 - Section Advanced Slider --------------------------------------------- */

.ewf-slider {
	position: relative;
	margin: 0 auto;


	.ewf-slider__slides {
		list-style: none;
		margin-bottom: 0;
		opacity: 0;

		&.slick-initialized {
			opacity: 1;
			transition: opacity .5s ease-in-out;
		}

		img {
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;

		}
	}
}

@media (min-width: 768px) {
	.ewf-advanced-slider.ewf-slider .ewf-slider__slides li {
		padding: 75px 15px;
	}
}

@media (min-width: 992px) {
	.ewf-advanced-slider.ewf-slider .ewf-slider__slides li {
		padding: 75px 20px;
	}
}

@media (min-width: 1200px) {
	.ewf-advanced-slider.ewf-slider .ewf-slider__slides li {
		padding: 100px 30px;
	}
}

.ewf-slider .ewf-slider__slides li .ewf-slider-slide__overlay {
	position: absolute;
	z-index: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: $color-background-slider-overlay;
}

.ewf-slider .ewf-slider__slides li .ewf-slider-slide__content {
	position: relative;
}

@media (min-width: 768px) {
	.ewf-advanced-slider.ewf-slider .ewf-slider__slides li .ewf-slider-slide__content {
		width: 730px;
		min-height: 350px;
		margin: 0 auto;
	}
}

@media (min-width: 992px) {
	.ewf-advanced-slider.ewf-slider .ewf-slider__slides li .ewf-slider-slide__content {
		width: 940px;
		min-height: 400px;
	}
}

@media (min-width: 1200px) {
	.ewf-advanced-slider.ewf-slider .ewf-slider__slides li .ewf-slider-slide__content {
		width: 1140px;
		min-height: 500px;
	}
}

@media (min-width: 768px) {
	.ewf-slider-slide__content--align-left {}
	.ewf-slider-slide__content--align-center {
		text-align: center;
	}
	.ewf-slider-slide__content--align-right {
		text-align: right;
	}
}

@media (min-width: 768px) {
	.ewf-slider-slide__content--valign-top .ewf-slider-slide__content-wrap {}
	.ewf-slider-slide__content--valign-middle .ewf-slider-slide__content-wrap {
		position: absolute;
		top: 50%;
		width: 100%;
		transform: translateY(-50%);
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
	}
	.ewf-slider-slide__content--valign-bottom .ewf-slider-slide__content-wrap {
		position: absolute;
		bottom: 0;
		width: 100%;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
	}
}

.ewf-slider .ewf-slider__pager {
	position: absolute;
	width: 100%;
	top: 95%;
	box-sizing: border-box;
}

.ewf-slider .ewf-slider__pager .slick-dots {
	list-style: none;
	margin: 0;

	&:after {
		display: block;
		visibility: hidden;
		height: 0;
		font-size: 0;
		content: "";
		clear: both;
	}
}

.ewf-slider .ewf-slider__pager.ewf-slider__pager--align-left .slick-dots {
	text-align: left;
}

.ewf-slider .ewf-slider__pager.ewf-slider__pager--align-center .slick-dots {
	text-align: center;
}

.ewf-slider .ewf-slider__pager.ewf-slider__pager--align-right .slick-dots {
	text-align: right;
}

.ewf-slider .ewf-slider__pager .slick-dots li {
	position: relative;
	z-index: 2;
	display: inline-block;
	border-radius: 50%;
	padding: 5px;
	margin-right: 3px;
}

.ewf-slider .ewf-slider__pager .slick-dots li:last-child {
	margin-right: 0;
}

.ewf-slider .ewf-slider__pager .slick-dots li.slick-active {}

.ewf-slider .ewf-slider__pager .slick-dots li button {
	display: block;
	padding: 0;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	border: 1px solid #fff;
	cursor: pointer;
	outline: none;
	color: #fff;
	background-color: transparent;
	font-size: 0;
	line-height: 0;
}

.ewf-slider .ewf-slider__pager .slick-dots li.slick-active button {
	background-color: #fff;
}

.ewf-slider .ewf-slider__arrows {
	a {
		position: absolute;
		top: 45%;
		transform: translateY(-50%);
		font-size: 24px;
		background-color: rgba(0, 0, 0, .4);
		padding: 10px 15px 10px 10px;
		color: #fff !important;
		transition: background-color 0.2s linear;
		-webkit-transition: background-color 0.2s linear;
		-o-transition: background-color 0.2s linear;
		-moz-transition: background-color 0.2s linear;

		&.slick-next {
			right: 0;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
		}

		&.slick-prev {
			left: 0;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
		}
	}

	&:hover {
		a {
			background-color: rgba(0, 0, 0, .6);
			color: #fff;
		}
	}
}

/* ----------------------------------- #17 - Section Advanced Slider - END --------------------------------------- */