/* =Accordion
   ========================================================================== */

.accordion {
	margin-bottom: 28px;

	.accordion-item__container {
		position: relative;
	}
}

.accordion-item-toggle {
	position: relative;
	display: block;
	padding: 14px 42px;
	background-color: #FFF;
	border: 1px solid #EEE;
	cursor: pointer;
	margin-bottom: 0;

	&:not(:first-child) {
		margin-top: 14px;
	}

	&:after {
		float: right;
		content: "\f107";
		font-family: 'FontAwesome';
	}

	.active:after {
		content: "\f106";
	}

	.active span:after {
		position: absolute;
		bottom: -1px;
		left: 42px;
		width: 84px;
		border-bottom: 1px solid #e11931;
		content: " ";
	}
}

.accordion-item-content {
	display: none;
	padding: 28px 42px;
	border: 1px solid #EEE;
	border-top: none;
	background-color: #FFF;

	&:after {
		clear: both;
		content: " ";
		display: block;
		font-size: 0;
		height: 0;
		visibility: hidden;
	}

	&:last-child {
		margin-bottom: 0;
	}

	&.accordion-item-opened {
		display: block;
	}
}

/* = END Accordion Section
   ========================================================================== */