/* ----------------------- SECTIONS ------------------------ */

.dashed {
  background: url("../images/back-section-shadow.png") repeat-x left top;
  background-image: url("../images/back-section-shadow.png"), url("../images/back-dashed.jpg");
  background-repeat: repeat-x, repeat;
  background-position: left top, all;
}

.section-grey {
  background-color: #F5F5F5;
}

/* ----------------------- SECTIONS ----- end ------------------------ */