
/* ----------------------------------- #18 - Section CTA --------------------------------------------- */

@media (max-width: 767px) {

	.section-cta .ewf-text-align--left,
	.section-cta .ewf-text-align--right {
		text-align:center;
	}

	.section-cta.ewf-section--title-right .headline h3 {
		margin-bottom:0;
	}

	.section-cta.ewf-section--title-left .ewf-btn:last-child {
		margin-bottom:0;
	}
}

@media (min-width: 540px) {

}

@media (min-width: 767px) {
	.section-cta .ewf-btn {
		margin-bottom:0;
	}
}

@media (min-width: 992px) {

	.section-cta.ewf-section--title-left .headline h3,
	.section-cta.ewf-section--title-right .headline h3 {
		margin-top: 0;
	}

	.section-cta.ewf-section--title-left .ewf-section-text,
	.section-cta.ewf-section--title-right .ewf-section-text {
		margin-bottom: 0;
	}

}

@media (min-width: 1200px) {


}


/* ----------------------------------- #18 - Section CTA - END --------------------------------------- */
