.portum-menu-icon {
	cursor: pointer;
	display: none;
	float: right;
	position: relative;
	user-select: none;

	.portum-navicon {
		background: #333;
		display: block;
		height: 2px;
		position: relative;
		transition: background .2s ease-out;
		width: 18px;

		&:before,
		&:after {
			background: #333;
			content: '';
			display: block;
			height: 100%;
			position: absolute;
			transition: all .2s ease-out;
			width: 100%;
		}

		&:before {
			top: 5px;
		}

		&:after {
			top: -5px;
		}
	}
}


#offcanvas {

	ul {

		a {
			padding: 0;
		}

		li {

			&.menu-item-has-children {
				border-top: 1px solid #eee;
				border-bottom: 1px solid #eee;

				& > a + a {
					width: calc( 100% - 20px );

					& + a {
						
					}
				}

				&:after {
					position: absolute;
					top: 0;
					right: 0;
				    width: 20px;
				    text-align: center;
					speak: none;
					font-style: normal;
					font-weight: normal;
					font-variant: normal;
					text-transform: none;
				}
			}

		}

		ul {
			position: static;
			z-index: 1;
			top: 0;
			left: 0;
			width: 200px;
			background-color: #fff;
			border-radius: 0;
			border-width: 0;
			border-style: none;
			border-color: transparent;
			box-shadow: none;
			padding: 0;

			li {
				&.menu-item-has-children {
					&:after {
						top: 10px;
						-webkit-transform: rotate(0);
						-ms-transform: rotate(0);
						transform: rotate(0);
					}
				}
			}
		}
	}

	#portum-site-wrapper {
		position: fixed;
		overflow: hidden;
		height: 100vh;
		width: 200px;
		right: 0;
		z-index: 9999999999;
	}
	#portum-site-canvas {
		width: 100%;
		height: 100%;
		position: relative;
		-webkit-transition: 300ms ease all;
		transition: 300ms ease all;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}
	.portum-closed-nav #portum-site-canvas {
		-webkit-transform: translateX(200px);
		transform: translateX(200px);
		-webkit-transform: translate3d(200px, 0, 0);
		transform: translate3d(200px, 0, 0);
	}

	.portum-show-nav #portum-site-canvas {
		-webkit-transform: translateX(-200px);
		transform: translateX(-200px);
		-webkit-transform: translate3d(-200px, 0, 0);
		transform: translate3d(-200px, 0, 0);
	}

	#portum-site-menu {
		width: 200px;
		height: 100%;
		position: absolute;
		top: 0;
		right: -200px;
		background-color: #fff;
		z-index: 99999;
	}

	#portum-site-menu nav ul,
	#portum-site-menu nav ul li {
		float: none;
	}

	#portum-site-menu {
		line-height: 40px;
	}

	#portum-site-menu nav {
		margin-top: 50px;
	}
}

#header.portum-offcanvas {

	.portum-toggle-nav {
		border: 0;
		background: transparent;
		&:hover {
			cursor: pointer;
		}

		&:focus {
			outline: none;
		}

		.portum-menu-icon {
			cursor: pointer;
			display: inline-block;
			float: right;
			position: relative;
			width: 18px;
		    height: 16px;
		    box-sizing: border-box;
		    padding-top: 7px;
			user-select: none;

			.portum-navicon {
				background: #333;
				display: block;
				height: 2px;
				position: relative;
				transition: background .2s ease-out;
				width: 18px;

				&:before,
				&:after {
					background: #333;
					content: '';
					display: block;
					height: 100%;
					position: absolute;
					transition: all .2s ease-out;
					width: 100%;
				}

				&:before {
					top: 5px;
				}

				&:after {
					top: -5px;
				}
			}
		}

		&.is-opened {

			.portum-menu-icon {
				.portum-navicon {
					background: transparent;

					&:before {
						transform: rotate(-45deg);
					}

					&:after {
						transform: rotate(45deg);
					}
				}
			}

			.portum-menu-icon {
				&:not(.steps) {
					.portum-navicon {
						&:before,
						&:after {
							top: 0;
						}
					}
				}
			}
		}
	}
}
