#header {

	&.portum-sidebar {
		position: fixed;
		left: 0;
		top: 0;
		height: 100%;
		width: 200px;
		z-index: 9999;
		line-height: 40px;
		text-align: center;

		.portum-menu-icon {
		    display: block;
		}

		+ #wrap {
			max-width: calc(100% - 200px);
			left: 200px;
			position: relative;
		}

		#logo {
			padding: 50px 0;
		}

		ul {
			float: none;

			> li {
				float: none;
			}
		}
	}
}