.widget_rss ul {
    margin: 0;
    list-style: none;
}

.widget_rss li {
    margin-bottom: 25px;
}

.widget_rss ul:last-child,
.widget_rss li:last-child {
    margin-bottom: 0;
}

.widget_rss .rssSummary {
    color: inherit;
}

.widget_rss ul li a.rsswidget {
    margin-top: 5px;
    margin-bottom: 25px;
    font-weight: bold;
}

.widget_rss .rsswidget img {
    margin-top: -5px;
}

.widget_rss .rss-date,
.widget_rss cite {
    display: block;
    color: #414444;
    font-size: .9em;
}