// Fonts
//
$accent-1-font: 'Hind', sans-serif;
$accent-2-font: 'Hind', sans-serif;

// Accent colors
//
$accent-1-color: #0962ea !default;
$accent-1-color-rgba: rgba(9, 98, 234, 1);
$accent-2-color: #dbe9fe !default;
$accent-2-color-rgba: rgba(96, 157, 249, 1);
$accent-3-color: #172128 !default;
$accent-3-color-rgba: rgba(21, 28, 31, 01);

// Typography
//
$headings-color: #212529 !default;
$text-color: #212529 !default;
$link-color: #0385d0 !default;
$link-hover-color: #a1083a !default;
$link-active-color: #172128 !default;
$blockquotes-color: #212121 !default;

// Navigation
//
$header_background: #151c1f;
$menu-item-color: #ebebeb !default;
$menu-item-hover-color: #fff !default;
$menu-item-active-color: #a1083a !default;
$menu-dropdown-background-color: #a1083a !default;
$menu-dropdown-hover-background-color: #940534 !default;

// Portfolio
//
$color-background-portfolio-overlay: rgba(255, 255, 255, 0.95) !default;

// Blog
//
$blog-post-background: #fff;
$blog-heading-color: #1a171c !default;
$blog-text-color: #777;
$blog-widgets-links: #0385d0;
$blog-widgets-title: #0385d0;

//Footer
//
$footer-contact-color: #0377bb;

$footer-background-color: #192229;
$footer-text-color: #a9afb1;
$footer-headings-color: #fff;

$footer-link-color: #a9afb1 !default;
$footer-link-hover-color: #fff !default;
$footer-link-active-color: #a9afb1 !default;

// Forms
//
$input-placeholder-color: #ababb2 !default;
$input-text-color: #ababb2 !default;
$input-border-color: #ebebeb !default;
$input-border-focus-color: #cde0e9 !default;
$input-border-invalid-color: #ffc3be !default;

// Misc
//
$background-color: #fbfcfe !default; // frontpage sections backgrounds

$footer-top-background-color: #b2d3e2 !default; // footer top bg color

$page-header-overlay-background-color: rgba(187, 217, 228, 0.95) !default;

$border-color: #ebebeb !default; // Borders (Grey)

$contact-ribbon-1-color: #a41342 !default;
$contact-ribbon-2-color: #232d33 !default;
$contact-ribbon-3-color: #dfdfdf !default;

// Contrast Colors

$contrast-text-color: #fff !default; // Text color
$contrast-header-color: #fff !default; // Headers

$contrast-link-color: #fff !default; // Link color
$contrast-link-hover-color: #aacfdf !default; // Link :hover / :focus Color
$contrast-link-active-color: #414444 !default; // Link :active color

$contrast-border-color: rgba(255, 255, 255, 0.25) !default; // border color

// Advanced Slider

$color-background-slider-overlay: rgb(0, 0, 0) !default;

// Spacing

$spacing-xx-small: 13px !default;
$spacing-x-small: 19.5px !default;
$spacing-small: 26px !default;
$spacing-medium: 52px !default;
$spacing-large: 78px !default;
$spacing-xl-large: 104px !default;
$spacing-xxl-large: 130px !default;

// Section spacings
//
$spacing-section-small: 35px !default;
$spacing-section-medium: 70px !default;
$spacing-section-large: 105px !default;

// Easing
$easing: cubic-bezier(0.86, 0, 0.07, 1) !default;